
// sizes
$wrapper-size = 1140px
$radius-size = 3px

// fonts
$font-default = 'Poppins', sans-serif

// colors
$color-primary = #36C695
$color-secondary = rgba(34,255,128,1)
$color-text = #5B5B5B
$color-paragraph = $color-text + 10%

$phone = 580px
$tablet = 800px
$desktop-small = 1000px
$desktop-large = 1260px
$desktop-big = 1480px
$desktop-xbig = 1630px

rupture.use-device-width = false
rupture.scale            = 0 $phone $tablet $desktop-small $desktop-large $desktop-big $desktop-xbig
rupture.scale-names      = 'phone' 'tablet' 'desktop-small' 'desktop-large' 'desktop-big' 'desktop-xbig'
