$button
  display inline-block
  background #fff
  color $color-text
  padding 1.4em 2em
  text-decoration none
  border-radius $radius-size
  color $color-text
  border 1px solid rgba(#fff, .1)
  font-weight normal
  line-height 1
  font-size 1.4rem
  text-transform uppercase
  font-weight bold
  transition(box-shadow)

  &:hover
    box-shadow 0 0 30px rgba($color-text, .2)
